<!doctype html>
<html lang="en">
	<head>
		{% raw pyindi_head %}
		<title>{{ title }}</title>
		<script>
			/**
			* Runs on load. Builds the default properties using a callback.
			*/
			const main = () => {
				var devices = {% raw json_encode(devices) %};
				initialize(devices, customGui=false);
				return;
			}

			/**
			* This function will be called whenever an INDI property with the device
			*	{{ devices }} is received. This is where users should modify the
			*	code to append to specific objects.
			*
			*	If wanting to use a custom GUI, enable in the configuration and provide the correct syntax for selecting
			* elements.
			* @param {Object} indi Contains all information about INDI property
			*/
			const handleProperty = (indi) => {
        let htmlElement = handle(indi);

        // Bad selector, meaning the custom GUI selector not found
        // Want to check if not delProperty, message, or BLOB before issuing tip
        if (!htmlElement) {
          if (ApprovedOp.includes(indi.op) && indi.metainfo !== "bvp") {
            tag_str = `<div data-custom-vector="${indi.name}" data-custom-device="${indi.device}"/>`;
            console.debug(`Selector not found. To add vector to page use ${tag_str}`);
          }
          return;
        }

        if (indi.op === IndiOp.DEFINITION) {
          // Only update once (on definition)
          // Use for adding tooltips or modifying the look once
        }
        else if (indi.op === IndiOp.SET) {
          // Update everytime new values come in
          // Use for updating labels with values
        }
        else {
          console.warn(`Indi definition: ${indi.op} not found`)
        }

        return;
			}
		</script>
	</head>
	<body>
	</body>
	<script>document.body.addEventListener("load", main());</script>
</html>
