:root {
	--indistate-idle: #E0E0E0;
	--indistate-ok: #00E676;
	--indistate-busy: #FFC400;
	--indistate-alert: #FF1744;
	--indistate-unknown: magenta;
	--invalid: #FF1744;
	--invalid-focus: #FF5252;
	--primary-light: #82B1FF;
	--primary: #3D5AFE;
	--primary-dark: #304FFE;
	--muted: #EEEEEE;
	--muted-dark: #E0E0E0;
	--muted-light: #F5F5F5;
	font-size: 14px;
	--gray-0: #fff;
	--gray-50: #FAFAFA;
	--gray-100: #F5F5F5;
	--gray-200: #EEEEEE;
	--gray-300: #E0E0E0;
	--gray-400: #BDBDBD;
	--gray-500: #9E9E9E;
	--gray-600: #757575;
	--gray-700: #616161;
	--gray-800: #424242;
	--gray-900: #212121;
  --black: #000;
	--text-header-h1: #fff;
	--text-header-h2: #616161;
	--text-header-h3: #424242;
	--text-header-h4: #fff;
	--text-label: #424242;
	--text-value: #212121;
	--text-switch: #212121;
	--text-switch-active: #FAFAFA;
	--text-light: #212121;
	--text-light-active: #212121;
	--bg-input: #FAFAFA;
	--bg-switch: #EEEEEE;
	--bg-switch-hover: #E0E0E0;
	--bg-switch-active: #3D5AFE;
	--bg-switch-active-hover: #304FFE;
	--bg-input-border: #E0E0E0;
	--bg-device-header: #00796B;
	--bg-minmax: #00796B;
	--bg-minmax-header: #fff;
	--bg-device: #ffffff;
	--bg-body: #FAFAFA;
	--bg-light: #EEEEEE;
	--bg-icon: #fff;
	--bg-nav: #424242;
	--bg-switch-press: #BDBDBD;
}
[data-theme="dark"] {
	--indistate-idle: #424242;
	--indistate-ok: #69F0AE;
	--indistate-busy: #FFD740;
	--indistate-alert: #FF5252;
	--invalid: #FF5252;
	--invalid-focus: #FF8A80;
	--indistate-unknown: magenta;
	--primary-light: #B388FF; 
	--primary: #7C4DFF;
	--primary-dark: #651FFF;
	--text-header-h1: #fff;
	--text-header-h2: #E0E0E0;
	--text-header-h3: #F5F5F5;
	--text-header-h4: #fff;
	--text-label: #fff;
	--text-value: #fff;
	--text-switch: #EEEEEE;
	--text-switch-active: #FAFAFA;
	--text-navbar: #fff;
	--text-light: #EEEEEE;
	--text-light-active: #212121;
	--bg-input: #424242;
	--bg-input-border: #616161;
	--bg-device-header: #424242;
	--bg-minmax: #B388FF;
	--bg-minmax-header: #fff;
	--bg-device: #212121;
	--bg-body: #000;
	--bg-switch: #757575;
	--bg-switch-hover: #616161;
	--bg-switch-active: #7C4DFF;
	--bg-switch-active-hover: #651FFF;
	--bg-nav: #424242;
	--bg-light: #616161;
	--bg-icon: #fff;
	--bg-switch-press: #424242;
	
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.pyindi-hr {
	height: 1px;
	color: var(--bg-input);
	background-color: var(--bg-input);
	border: none;
	width: 95%;
	margin: auto;
}
.pyindi {
	max-width: 640px;
	margin: 0 auto;
	border-radius: .25rem;
}
.pyindi-nav {
	background-color: var(--bg-nav);
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	padding: .25rem .75rem;
	line-height: 1.5;
}
.pyindi-device {
	background-color: var(--bg-device);
}
.pyindi-device-header {
	line-height: 1.5;
	padding: 1rem .75rem;
	display: block;
	background-color: var(--bg-device-header);
}
.pyindi-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.pyindi-col {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media screen and (max-width: 560px) {
	.pyindi-property-label.pyindi-col {
		flex: 50%;
	}
	.pyindi-ro.pyindi-col {
		flex: 50%;
	}
	.pyindi-wo.pyindi-col {
		flex: 100%;
	}
}
.pyindi-h1 {
	font-weight: 700;
	font-size: 1.25rem;
	color: var(--text-header-h1);
	margin: 0;
	display: inline-block;
}
.pyindi-group {
	padding: .75rem .75rem;
	margin: 0;
	background-color: inherit;
	max-width: 640px;
}
.pyindi-h2 {
	font-weight: 700;
	font-size: 1.25rem;
	color: var(--text-header-h2);
	margin: 0;
	display: inline-block;
}
.pyindi-h4 {
	font-weight: 700;
	font-size: 1rem;
	color: var(--text-header-h4);
	margin: 0;
	display: inline-block;
}
.pyindi-group-header {
	line-height: 1.5;
	padding: 0;
}
.pyindi-light-label {
	display: inline-block;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-align: center;
	user-select: none;
	border: 1px solid transparent;
	padding: .25rem 1rem;
	font-size: .9rem;
	border-radius: 1rem;
	overflow: visible;
	background-color: var(--bg-light);
	margin: .25rem .125rem;
	color: var(--text-light);
	margin-right: .5rem;
}
.pyindi-switch-label {
	display: inline-block;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 1.2px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	border: 1px solid transparent;
	padding: .5rem .75rem;
	font-size: .9rem;
	border-radius: .25rem;
	overflow: visible;
	background-color: var(--bg-switch);
	margin: .25rem .125rem;
	/* box-shadow:  0 1px 3px hsla(0, 0%, 0%, 0.2); */
	color: var(--text-switch);
	margin-right: .5rem;
}
.pyindi-switch-label:hover {
	background-color: var(--bg-switch-hover);
}
.pyindi-switch-label:active {
	background-color: var(--bg-switch-press);
}

.pyindi-switch-label-active {
	background-color: var(--bg-switch-active);
	color: var(--text-switch-active);
}
.pyindi-switch-label-active:hover {
	background-color: var(--bg-switch-active-hover);
}
.pyindi-switch-input {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}
/* This should be used for when the button is active like radio button */
legend {
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: .25rem;
	color: var(--text-header-h3);
}
body {
	font-family: sans-serif;
	background-color: var(--bg-body);
}

.pyindi-vector {
	background-color: inherit;
	border: none;
	border-radius: .25rem;
	margin: 1.5rem .75rem;;
	padding: 0;
}
.pyindi-property {
	resize: none;
	border-radius: .25rem;
	font-size: 1rem;
	line-height: 1.5;
	background-clip: padding-box;
	appearance: none;
	margin-bottom: 0;
	outline: none;
	font-family: inherit;
}
.pyindi-ro {
	border: none;
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	background-color: inherit;
	color: var(--text-value);
	font-weight: 700;
}
.pyindi-wo {
	border: 1px solid var(--bg-input-border);
	padding-top: .15rem;
	padding-bottom: .15rem;
	margin-top: .20rem;
	margin-bottom: .20rem;
	background-color: var(--bg-input);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	color: var(--text-label);
}
.pyindi-wo:focus {
	border-color: var(--primary);
	outline: none;
	box-shadow: 0 0 0 0.125rem var(--primary-light);
}
.pyindi-log-viewer {
	background-color: var(--bg-device);
	padding: 1rem .75rem;
	margin: auto;
}
.pyindi-log-container {
	border: 1px solid var(--bg-input-border);
	background-color: var(--bg-input);
	cursor: default;
	height: 150px;
	overflow: auto;
	max-width: 100%;
	border-radius: .25rem;
	padding: 0 .75rem;
	font-family:'Courier New', Courier, monospace;
}
.pyindi-log {
	font-size: 0.8rem;
	margin: 0;
	line-height: 1.5;
	color: var(--text-value)
}
.invalid {
	border: 1px solid var(--invalid);
}
.invalid:focus {
	border-color: var(--invalid);
	box-shadow: 0 0 0 0.125rem var(--invalid-focus);
}

/* 
https://stackoverflow.com/questions/12540436/height-of-parent-div-is-zero-even-if-it-has-child-with-finite-heights
When floating child in parent, the parent ignores them.
*/
.fix-div:after {
	content: " "; 
	display: block;
	clear: both;
}
.pyindi-number-div:after {
	content: " "; 
	display: block;
	clear: both;
}
.pyindi-property-label {
	margin-bottom: 0;
	line-height: 1.5;
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	float: left;
	vertical-align: middle;
	width: 14rem;
	color: var(--text-label);
}
.led {
	margin-right: 5px;
	margin-top: 2px;
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.minmax {
	margin-right: 10px;
	line-height: 1.5;
	font-size: 1.25rem;
	cursor: pointer;
	user-select: none;
	color: var(--bg-minmax);
}
.pyindi-device-header .minmax {
	color: var(--bg-minmax-header);
}
.icon {
	line-height: 1.5;
	cursor: pointer;
	user-select: none;
	color: var(--bg-icon);
}
.hide {
	display: none;
}
.tip {
	color: var(--invalid);
	width: 100%;
	font-size: .8rem;
}
.blinking-busy {
  animation: blinker 1.5s linear infinite;
}
.blinking-alert {
  animation: blinker 0.5s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.retro {
	font-family: 'Audiowide', monospace;
}
.pyindi-tooltip {
	position: relative;
	margin-left: 10px;
	font-size: .75rem;
	display: inline-block;
}
.pyindi-tooltip:before,
.pyindi-tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
.pyindi-tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid var(--bg-nav); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
  top: 20px;
  left: px;
  width: 0;
}
.pyindi-tooltip:before {
  background: var(--bg-nav);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  padding: 6px 10px;
  top: 26px;
	width: 200px;
  white-space: wrap;
}
.pyindi-tooltip:after,
.pyindi-tooltip:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.pyindi-tooltip:hover:after,
.pyindi-tooltip:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}
.icon-tooltip {
	font-weight: 900;
	font-size: 1rem;
}
